body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('Frame3.png');
    background-size: cover;
    position: relative;

}
h1{
    font-size: 60px;
}
div{
    align-items: center;
    width: 600px;
    height: 300px;
    text-align: center;
    background-color:rgba(255, 255, 255,0.5);
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}
p{
    font-size: 30px;
    width: 500px;
    color: black;
}
.back
{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(37, 134, 106);
    font-size: 16px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    top:50px;
    left: 50px;
    position: fixed;
}